* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar-expand-md.navbar-dark.fixed-top.bg-dark {
    background-color: rgb(75, 73, 73) !important;
    margin-bottom: 10%;
}

img {
    width: 120px;
    height: 65px;
}

.navbar-brand-h1 {
    color: white;
    font-size: 1.3rem;
    font-style: unset;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tickets .container-tickets {
    width: 90%;
    max-width: 880px;
    margin: 0 auto;
}

.tickets-types {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 1rem;
    margin-top: 7.5rem;
}

.tickets-types .estudiante, .trainee, .junior {
  width: 32%;
  min-width: 120px;
  text-align: center;
  padding: 1%;
}

.tickets-types h3 {
    font-size: 1.3rem;
}

.tickets-types h4 {
    font-size: 1.5rem;
    font-weight: bold;
}

.tickets-types h5 {
    font-size: 1rem;
}

.tickets-types .estudiante {
    border: 2px solid rgb(19, 19, 209);
}
  
  
.tickets-types .trainee {
    border: 2px solid rgb(52, 156, 191);
}
  
.tickets-types .junior {
    border: 2px solid orange;
}

.container-tickets .tickets-sale {
    text-align: center;
}

.tickets-sale h2{
    font-size: 1rem;
}

.tickets-sale h6{
    font-size: 2.5rem;
}


.tickets-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 95%;
    margin: auto;
}

.tickets-form .ticketsFirstName, .ticketsLastName {
  width: 49%;
  margin: 0.5rem 0rem;
  border: 2px solid rgb(223, 207, 207);
  border-radius: 4px;
  padding: 7.5px;
  font-size: 20px;
  margin-bottom: 20px;
}

.ticketsform .ticketsEmail {
    width: 100%;
    border: 2px solid rgb(223, 207, 207);
    border-radius: 4px;
    padding: 7.5px;
    font-size: 20px;
    margin-bottom: 12px;
}

.tickets-form .labelTicketsQuantity, .labelTicketsCategory {
  width: 49%;
  margin: 0.5rem 0rem;
  font-size: 20px;
}

.tickets-form .ticketsQuantity, .ticketsCategory {
  width: 100%;
  border-radius: 4px;
  border: 2px solid rgb(223, 207, 207);
  padding: 7.5px;
  font-size: 20px;
  margin-bottom: 30px;
}


.tickets-form .ticketsOutput {
    width: 100%;
    background-color: rgb(189, 216, 230);
    border-radius: 4px;
    border: none;
    padding: 18px;
    font-size: 20px;
    color: rgb(5, 5, 104);
    margin-bottom: 30px;
}

.ticketsOutput .ticketsValue {
    float: left;
}


.ticketsform .buttonTickets {
    width: 49%;
    margin: 0.5rem 0rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    background-color:rgb(165, 219, 74);
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}


.navbar-dark.bg-primary {
    background-color: rgb(29, 65, 73) !important;  
    justify-content: space-between;
    text-align: center;
    flex-direction: column;
    padding: 20px;
}
